.undoButton
{
    height: 24px;
    margin: 0 10px;
    padding: 0 10px;
}

.undoButton img
{
    border-radius: 3px;
}

.undoButton:hover
{
    background-color: #e0e8f5;
}

.undoButton_disabled
{
    opacity: 0.5;
    cursor: default;
}

.undoButton_disabled:hover
{
    background-color: #c3c3c3;
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
}
