.resizePointer
{
    position: absolute;
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #6699cc;
    box-sizing: border-box;
}

.resizePointer_TopLeft
{
    top: -8px;
    left: -8px;
    cursor: nw-resize;
}

.resizePointer_TopMiddle
{
    top: -8px;
    left: calc(50% - 6px);
    cursor: s-resize;
}

.resizePointer_TopRight
{
    top: -8px;
    right: -8px;
    cursor: ne-resize;
}

.resizePointer_RightMiddle
{
    top: calc(50% - 8px);
    right: -8px;
    cursor: w-resize;
}

.resizePointer_BottomRight
{
    bottom: -8px;
    right: -8px;
    cursor: nw-resize;
}

.resizePointer_BottomMiddle
{
    bottom: -8px;
    left: calc(50% - 6px);
    cursor: s-resize;
}

.resizePointer_BottomLeft
{
    bottom: -8px;
    left: -8px;
    cursor: ne-resize;
}

.resizePointer_LeftMiddle
{
    top: calc(50% - 8px);
    left: -8px;
    cursor: w-resize;
}