.closeButton
{
    width: 64px;
    height: 64px;
    margin-left: 10px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #3e3e3e;
}

.closeButton svg:hover
{
    fill: #8b0000;
}

.closeButton:hover
{
    background-color: rgba(135, 135, 135, 0.5);
    box-shadow: 0 0 10px rgba(135, 135, 135, 0.5);
    cursor: pointer;
}