.defaultColor
{
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 15px;
    padding: 10px 5px 30px;
}

.colorItem
{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 3px solid #c3c3c3;
    box-sizing: border-box;
}