.slideButton
{
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
    padding: 2px;
    box-sizing: border-box;
}

.slideButton:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

.slideButton:active
{
    background-color: rgba(255, 255, 255, 0.2);
}

.slideButton svg
{
    height: 30px;
    width: 30px;
}
