.insertToolbar
{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
}

.toolbarText
{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #909090;
}

.insertButtons
{
    display: flex;
}

.buttonText
{
    text-align: center;
}
