.redoButton
{
    height: 24px;
    margin: 10px 10px 0;
    padding: 0 10px;
}

.redoButton img
{
    border-radius: 3px;
}

.redoButton:hover
{
    background-color: #e0e8f5;
}

.redoButton_disabled
{
    opacity: 0.5;
    cursor: default;
}

.redoButton_disabled:hover
{
    background-color: #c3c3c3;
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
}
