.element
{
    position: absolute;
    cursor: pointer;
    box-sizing: content-box;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: border 0.2s;
}

.element:hover
{
    border: 3px solid #c3c3c3;
}

.element.selected
{
    border: 3px solid #6699cc;
}
