.previewButton
{
    box-sizing: border-box;
    margin: 10px 10px 10px;
    width: 100%;
    max-width: 250px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #77818b;
}

.previewButton_active
{
    background-color: #6699cc;
}

.previewButton_active:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: #8bb8e4;
}

.previewButton_active:active
{
    background-color: #1160af;
}


