.slideButtons
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.backgroundImg
{
    padding: 0 !important;
}

.backgroundImg svg
{
    width: 40px !important;
    height: 40px !important;
    margin: -2px 0 0 -4px;
}