.FigureButtons
{
    margin: 10px 5px 0;
    padding: 0 10px;
    width: 64px;
    height: 65px;
}

.buttonIcon
{
    color: #000000;
    width: 64px;
    height: 50px;
}

.buttonText
{
    text-align: center;
}
